<script setup>
defineProps({
  title: String,
  price: Number
})
</script>

<template>
  <div>
    <h1>{{ title }}</h1>
    <h2>{{ price }}</h2>
  </div>
  <slot></slot>
</template>
<style scope></style>
